/* Base Styles */

* {
    box-sizing: border-box;
}

html {
font-family: 'Montserrat', sans-serif;
   font-size: 16px;
}
h1, h2, h3, h4 {
font-family: 'Noto Sans', sans-serif;
}
h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size:large;
    text-align: center;
    margin: 2.5rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;

}

header {
    background-color: rgb(245, 244, 244);
}

a {
    color: black;
    text-decoration: none;
    font-weight:700;
}

h1 {
    font-size: 1.8rem;
    font-weight: 900;
   
}
ul li {
    font-family: 'Noto Sans', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    background-color:white;
    padding: 8px 8px;
    margin: .2rem;
}

p {
    line-height: 1.54321;
    text-align: center;
    margin: 0;
    padding-bottom: 1.5rem; 
}

hr {
    width: calc(100% - 32px);
}

/* Classes and IDs */

.wrapper {
    margin: 0 16px;
}

.contact-section {
    background-color: rgb(245, 244, 244);
}
.bottom-nav {
        background-color: rgb(245, 244, 244);
        padding: 16px;
}
.bottom-nav li {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 244, 244);
}

.column {
    padding-bottom: 1rem;
}

section.contact-section {
    padding: 1px 0;
}

.contact-text {
    line-height: 1.54321;
    text-align: center;
    padding: 0 16px 1.5rem;

}

.main-nav ul li:hover {
    background-color: darkgrey;
}

/* Flex Styles */

.top-nav, .intro, .column, .bottom-nav {
    display: flex;
}
    .top-nav {
    flex-direction:column;
    padding: 8px 8px 22px 8px;
    text-align: center;
}

.home, .portfolio, .contact {
    flex:1 100%;
}

.intro {
    flex-direction: column;
    padding: 16px;
}

.intro-text {
    justify-content: center;
    text-align: center;
}
.profile-pic {
    order: -1;
    max-width: 60%;
    margin:auto;
    padding-bottom:1.5rem;
}
.column {
    flex-direction: column;
}

.bottom-nav {
justify-content: space-between;
}
.footer-home {
font-family: 'Noto Sans', sans-serif;
font-weight: bold;
text-transform: capitalize;
}

/* Media Queries */

@media screen and (min-width: 768px) {


} 

@media screen and (min-width: 1024px) {


}