/* Base Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
main {
  background-color: aquamarine;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Sans", sans-serif;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin: 2.5rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

header {
  background-color: rgb(245, 244, 244);
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

h1 {
  font-size: 1.4rem;
  font-weight: 900;
}
ul li {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: white;
  padding: 8px 8px;
  margin: 0.2rem;
}

p {
  line-height: 1.54321;
  text-align: center;
  margin: 0;
}

/* Classes and IDs */

.wrapper {
  margin: 0 16px;
}

.contact-section {
  background-color: rgb(245, 244, 244);
}

.contact-wrapper {
  margin: 0px 16px;
  padding: 8px 0 32px;
  border-bottom: 1px solid grey;
}

footer {
  background-color: rgb(245, 244, 244);
}

.bottom-nav {
  padding: 16px;
}
.bottom-nav li {
  margin: 0;
  padding: 8px 0 16px;
  background-color: rgb(245, 244, 244);
}

.column {
  padding: 24px 0 24px;
}

.contact-text {
  line-height: 1.54321;
  text-align: center;
  padding: 0 16px 1.5rem;
}

.top-nav ul li:hover {
  background-color: darkgrey;
}

#portfolio {
  padding-top: 16px;
}
#skills {
  padding-top: 16px;
}

a:hover {
  text-decoration: underline;
}

/* Flex Styles */

.top-nav,
.intro,
.column,
.bottom-nav,
footer {
  display: flex;
}
.top-nav {
  flex-direction: column;
  padding: 8px 8px 22px 8px;
  text-align: center;
  background-color: rgb(128, 128, 255);
}

.home,
.portfolio,
.contact {
  flex: 1 100%;
}

.intro {
  flex-direction: column;
  padding: 32px;
}

.intro-text {
  justify-content: center;
  text-align: center;
}
.profile-pic {
  order: -1;
  max-width: 70%;
  margin: auto;
  padding-bottom: 1.5rem;
}
.column {
  flex-direction: column;
}

.bottom-nav {
  justify-content: space-between;
}

footer {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
}
.footer-home {
  margin-left: 16px;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.bottom-nav li {
  padding: 0;
}

.footer-portfolio,
.footer-skills,
.footer-contact,
.footer-home-right {
  display: none;
}

/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Header */

  .top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-portfolio,
  .footer-skills,
  .footer-contact,
  .footer-home-right {
    display: block;
  }

  .top-nav ul li:hover {
    background-color: rgb(128, 128, 255);
  }

  h1 {
    flex: 1 100%;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
  }

  .top-nav li {
    flex: 1;
    background-color: rgb(128, 128, 255);
    padding: 0 0;
    margin: 8px 4px 16px;
    max-width: 10%;
    align-items: center;
  }

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 24px;
  }
  .intro-text {
    order: -1;
    flex: 1;
    text-align: left;
    padding-right: 2%;
  }
  .profile-pic {
    flex: 1;
  }

  /* Main */

  #portfolio,
  #skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    flex: 1 100%;
  }
  .column {
    flex: 1 50%;
    max-width: calc(50% - 16px);
    margin: 0 8px;
  }
  #juggling {
    align-self: center;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-home {
    padding: 32px 0px;
    text-align: left;
  }

  .bottom-nav li {
    margin: 0 8px;
    padding: 0 8px;
  }

  .footer-top {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  /* Header */

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 24px 32px;
  }

  .top-nav ul li:hover {
    background-color: rgb(128, 128, 255);
  }

  h1 {
    flex: 1;
    margin-right: auto;
    align-self: center;
  }

  .top-nav ul {
    display: flex;
    align-items: center;
  }

  .top-nav li {
    flex: 1;
    background-color: rgb(128, 128, 255);
    padding: 0 0;
    margin: 0px 16px;
  }

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 24px;
  }
  .intro-text {
    order: -1;
    flex: 1;
    text-align: left;
    padding-right: 2%;
  }
  .profile-pic {
    flex: 1;
  }

  /* Main */

  #portfolio,
  #skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    flex: 1 100%;
  }
  .column {
    flex: 1 33%;
    max-width: calc(33% - 16px);
    margin: 0 8px;
  }

  #juggling {
    align-self: auto;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-home {
    padding: 32px 0px;
    text-align: left;
  }

  .bottom-nav li {
    padding: 0 16px;
  }

  .footer-top {
    display: none;
  }

  .footer-portfolio,
  .footer-skills,
  .footer-contact,
  .footer-home-right {
    display: block;
    flex: 1;
  }
}
